* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', Arial;

    background-color: #090c10;
}

section {
    position: relative;

    height: 100vh;

}

#hero-wrapper {
    position: absolute;
    left: 50%; bottom: 2vh;
    transform: translate(-50%, 0);

    width: 98vw; height: 84vh;
    background-color: rgba(255, 255, 255, 0.025);
    backdrop-filter: blur(200px);

    border-radius: 2vh;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.05);
    border-width: 0.15vw;

    pointer-events: none;
}

canvas {
    display: block;
}

#canvas3d {
    z-index: 100;
}

#logo {
    position: fixed;
    left: -10vw; top: -20vh;
    transform: scale(0.15);

    filter: invert(100%);
    mix-blend-mode: difference;

    z-index: 100;
}