#heroImg {
    position: fixed;
    transform: scale(0.06);

    left: -24%; top: -38%;
}

#heroMotto {
    position: absolute;
    width: 45%; height: 60%;
    left: 4%; top: 20%;
    color: black;

    font-family: "Hartsinger Free";
    font-weight: 100;
    font-size: 6rem;
}

#hm-green {
    position: absolute;
    left: 5%; top: 10%;
}

.highlight {
    background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=59ff4a);
    margin: -2px -6px;
    padding:  2px  6px;
}